@model User
@{
}
<link rel="stylesheet" type="text/css" href="~/css/main_page_style.css">
<link rel="stylesheet" type="text/css" href="~/css/registration_page_style.css">

    <div class="byxnxM">
        <div class="hIrZrE">
            <div class="iyocDW">
                <div class="jJXygk">
                    <div class="plnLv">
                        <div class="csAXhw">
                            <svg width="18px" height="18px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                <path fill="#000000"
                                    d="M14.25 44V25.6q-2.6-.55-4.425-2.625Q8 20.9 8 18V4h3v14h3.25V4h3v14h3.25V4h3v14q0 2.9-1.825 4.975Q19.85 25.05 17.25 25.6V44ZM35 44V28h-5.75V12.75q0-3.95 2.4-6.35Q34.05 4 38 4v40Z">
                                </path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div height="100%" class="iaWulL">
                    <div height="100%" class="kCUIAl">
                        <a>
                            <div class="TTLcH">
                                <div class="lcNqgn">
                                    <div class="cBjxhF">
                                        <div class="hfcCSo">
                                            <img src="~/images/logo.png" class="cYSgHb" height="120px"
                                                width="auto">
                                        <form asp-controller="Home" asp-action="Index" method="post" id="reg-form">
                                            <button type="submit" class="logo-btn">
                                                <h1 class="fxcbGf">
                                                    Daily Food
                                                </h1>
                                            </button>
                                        </form>                                           
                                        </div>
                                    </div>
                                    <div class="bKQARb">
                                        <img src="~/images/logo.png" class="cYSgHb" height="120px" width="auto">
                                    </div>
                                </div>
                            </div>
                            <div class="hmFCJm">
                                <div class="cBjxhF">
                                    <div class="hfcCSo">
                                        <img src="~/images/logo.png" class="cYSgHb" height="120px" width="auto">
                                    </div>
                                </div>
                                <div class="bKQARb">
                                    <img src="~/images/logo.png" class="cYSgHb" height="120px" width="auto">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div>
            </div>
            <div class="registration">
                <div class="sc-1acu81b-0 sc-8slcnd-0 cMUQOQ">
                    <h2 class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-3 ckxKDR">
                        Реєстрація</h2>
                </div>
                <div class="container">
<div class="sc-1acu81b-0 sc-1pa0b2f-0 dEwaHC __card">
        <form asp-controller="Registration" asp-action="Registrate" method="post">
           <div class="sc-1acu81b-0 p4bqbh-1 itozEE">
               <div class="sc-1acu81b-0 sc-8slcnd-0 sc-12uj57n-3 gLoLRE">
                   <div class="sc-1acu81b-0 sc-8slcnd-0 sc-12uj57n-4 jUcdXt">
                       <input asp-for="surname" id="lastName" required="" class="sc-12uj57n-0 gFHwXw" type="text"
                           name="surname" value="@Model.surname"><label for="lastName"
                           class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-6 sc-12uj57n-1 jndxzP">Прізвище</label>
                   </div>
               </div>
           </div>
           <div class="sc-1acu81b-0 p4bqbh-1 itozEE">
               <div class="sc-1acu81b-0 sc-8slcnd-0 sc-12uj57n-3 gLoLRE">
                   <div class="sc-1acu81b-0 sc-8slcnd-0 sc-12uj57n-4 jUcdXt">
                       <input asp-for="name" id="firstName" required="" class="sc-12uj57n-0 gFHwXw" type="text"
                           name="name" value="@Model.name"><label for="firstName"
                           class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-6 sc-12uj57n-1 jndxzP">Ім'я</label>
                   </div>
               </div>
           </div>
           <div class="sc-1acu81b-0 p4bqbh-1 itozEE">
               <div class="sc-1acu81b-0 sc-8slcnd-0 sc-12uj57n-3 gLoLRE">
                   <div class="sc-1acu81b-0 sc-8slcnd-0 sc-12uj57n-4 jUcdXt">
                       <input asp-for="dob" id="birthDate" required="" class="sc-12uj57n-0 gFHwXw" type="date"
                           name="dob" value="@Model.dob"><label for="birthDate"
                           class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-6 sc-12uj57n-1 jndxzP">Дата
                           народження</label>
                   </div>
               </div>
           </div>
           <div class="sc-1acu81b-0 p4bqbh-1 itozEE">
               <div class="sc-3oxrfd-0 iurGlV">
                   <div class="allow-dropdown separate-dial-code iti-sdc-4 intl-tel-input">
                       <div class="flag-container">
                           <div class="selected-flag" tabindex="0"
                               title="Ukraine (Україна): +380">
                               <div class="iti-flag ua"></div>
                               <div class="selected-dial-code">+380</div>
                               <div class="arrow down"></div>
                           </div>
                           <ul class="country-list hide">
                               <li class="country highlight" data-dial-code="380"
                                   data-country-code="ua">
                                   <div class="flag-box">
                                       <div class="iti-flag ua"></div>
                                   </div><span class="country-name">Ukraine
                                       (Україна)</span><span class="dial-code">+ 380</span>
                               </li>
                           </ul>
                       </div><input asp-for="phoneNumber" required pattern="[0-9]{10}" type="tel"
                           autocomplete="off" class="" name="phoneNumber" id="phone" placeholder=""
                           value="@Model.phoneNumber" maxlength="10" minlength="10">
                   </div><label for="phone"
                       class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-6 sc-12uj57n-1 sc-3oxrfd-1 jImnwe">Номер
                       телефону</label>
               </div>
           </div>
           <span asp-validation-for="phoneNumber" class="error_message reg-err-message reg-err-message-tel"></span>
           <div class="sc-1acu81b-0 p4bqbh-1 itozEE">
               <div class="sc-1acu81b-0 sc-8slcnd-0 sc-12uj57n-3 gLoLRE">
                   <div class="sc-1acu81b-0 sc-8slcnd-0 sc-12uj57n-4 jUcdXt">
                       <input asp-for="login" id="email" required="" class="sc-12uj57n-0 gFHwXw" type="text" name="login"
                           value="@Model.login"><label for="email"
                           class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-6 sc-12uj57n-1 jndxzP">Логін
                           (ел. пошта)</label>
                   </div>
               </div>
           </div>
                        <span asp-validation-for="login" class="error_message reg-err-message reg-err-message-mail"></span>
           <div class="sc-1acu81b-0 p4bqbh-1 itozEE">
               <div class="sc-1acu81b-0 sc-8slcnd-0 sc-12uj57n-3 gLoLRE">
                   <div class="sc-1acu81b-0 sc-8slcnd-0 sc-12uj57n-4 jUcdXt">
                       <input asp-for="password" required="" id="password" class="sc-12uj57n-0 gFHwXw" type="password"
                           name="password" value=""><label for="password"
                           class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-6 sc-12uj57n-1 jndxzP">Пароль</label>
                   </div>
               </div>
           </div>
        <div class="sc-1acu81b-0 p4bqbh-1 itozEE">
            <div class="sc-1acu81b-0 sc-8slcnd-0 sc-12uj57n-3 gLoLRE">
                <div class="sc-1acu81b-0 sc-8slcnd-0 sc-12uj57n-4 jUcdXt">
                    <input id="passwordRepeat" required="" class="sc-12uj57n-0 gFHwXw" type="password"
                        name="passwordRepeat" value=""><label for="passwordRepeat"
                        class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-6 sc-12uj57n-1 jndxzP">Повторіть
                        пароль</label>
                </div>
            </div>
        </div>
        <span id="reg-error-message" class="error_message reg-err-message"></span>
        <div class="sc-1acu81b-0 sc-8slcnd-0 sc-1qyon5p-0 gNCpiQ"><input
                id="acceptMarketing" name="acceptMarketing" type="checkbox"
                class="sc-1qyon5p-1 dpOeWx" checked required>
            <div role="checkbox" class="sc-1acu81b-0 sc-8slcnd-0 sc-1qyon5p-2 ctdzsf tick-container"><svg
                    class="sc-1qyon5p-3 jiwYbE" width="16" height="16" viewBox="0 0 35 28">
                    <title>Tick</title>
                    <g transform="translate(-2 -6)" fill="none" fill-rule="evenodd" class="tick">
                        <rect width="39" height="39" rx="5"></rect>
                        <path
                            d="M36.192 6.808a2.758 2.758 0 0 0-3.9 0L12.49 26.609l-5.759-5.897a2.76 2.76 0 0 0-3.947 3.853l7.708 7.896c.515.527 1.22.826 1.958.832h.016a2.76 2.76 0 0 0 1.95-.809l21.775-21.776a2.758 2.758 0 0 0 0-3.9"
                            fill="#ffffff"></path>
                                    </g>
                </svg></div>
            <p class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-7 jvhtXV">
                Я даю згоду на збір та обробку моїх персональних даних.</p>
        </div>
        <div class="sc-1acu81b-0 sc-8slcnd-0 aheg1h-1 bhLcWC"><button type="submit"
                                    class="sc-1ljqqky-0 ixpzHc aheg1h-0 hYVrEX" id="btn-registrate" width="auto" disabled>
                <h4
                    class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-6 sc-1ljqqky-1 cPHxZb">
                    Зареєструватися</h4>
            </button>
        </div>
    </form>
</div>
                </div>
            </div>
        </div>
<footer>
    <img src="~/images/logo.png">
    <p>© 2023 ™ DailyFood. Всі права захищені.</p>
</footer>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="~/js/registration_script.js"></script>
