@model MainPageModel

@{
    ViewData["Title"] = "Daily Food";
}

    <link rel="stylesheet" type="text/css" href="~/css/main_page_style.css">
      <div class="byxnxM">
    <div class="hIrZrE" style="padding-bottom: 0%; margin-bottom: 0%">
      <div class="iyocDW">
        <div class="jJXygk">
          <div class="plnLv">
            <div class="csAXhw">
              <svg width="18px" height="18px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                <path fill="#000000"
                  d="M14.25 44V25.6q-2.6-.55-4.425-2.625Q8 20.9 8 18V4h3v14h3.25V4h3v14h3.25V4h3v14q0 2.9-1.825 4.975Q19.85 25.05 17.25 25.6V44ZM35 44V28h-5.75V12.75q0-3.95 2.4-6.35Q34.05 4 38 4v40Z">
                </path>
              </svg>
            </div>
          </div>
        </div>
        <div height="100%" class="iaWulL">
          <div height="100%" class="kCUIAl">
            <a>
              <div class="TTLcH">
                <div class="lcNqgn">
                  <div class="cBjxhF">
                    <div class="hfcCSo">
                      <img src="~/images/logo.png" class="cYSgHb" height="120px" width="auto">
                      <h1 class="fxcbGf">Daily Food
                      </h1>
                    </div>
                  </div>
                  <div class="bKQARb">
                    <img src="~/images/logo.png" class="cYSgHb" height="120px" width="auto">
                  </div>
                </div>
              </div>
              <div class="hmFCJm">
                <div class="cBjxhF">
                  <div class="hfcCSo">
                    <img src="~/images/logo.png" class="cYSgHb" height="120px" width="auto">
                  </div>
                </div>
                <div class="bKQARb">
                  <img src="~/images/logo.png" class="cYSgHb" height="120px" width="auto">
                </div>
              </div>
            </a>
            <div class="dnNumD">
                        <div class="sc-1acu81b-0 sc-8slcnd-0 hfcCSo">
                            @if (@Model.userId.HasValue)
                            {
                                <form asp-controller="Authorization" asp-action="Logout" method="get">
                                    <button class="sc-1ljqqky-0 likqgH sc-13chy03-4 cycFuL" width="auto" type="submit">
                                        <h4 class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-6 sc-1ljqqky-1 cPHxZb">
                                            <h4 class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-6 sc-13chy03-5 fPTkUX" id="btn-signIn">
                                                Вийти
                                            </h4>
                                        </h4>
                                    </button>
                                </form>
                            }
                            else
                            {
                                <form asp-controller="Authorization" asp-action="Index" method="get">
                                    <button class="sc-1ljqqky-0 likqgH sc-13chy03-4 cycFuL" width="auto" type="submit">
                                        <h4 class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-6 sc-1ljqqky-1 cPHxZb">
                                            <h4 class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-6 sc-13chy03-5 fPTkUX" id="btn-signIn">
                                                Увійти
                                            </h4>
                                        </h4>
                                    </button>
                                </form>
                            }
                        </div>
              <div class="TTLcH openbasket">
                <div class="bTClhV">
                  <div>
                    <div class="gdngbp">
                      <svg class="basketIcon" width="41px" height="41px" viewBox="0 0 41 40" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_1211_3587" width="41" height="40" class="style-NwOXx">
                          <rect x="0.316406" width="40" height="40" fill="white">
                          </rect>
                        </mask>
                        <g>
                          <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M20.0302 2C16.1027 2 12.9093 5.19293 12.9093 9.12081V9.29321H8.2023C7.81984 9.29321 7.49772 9.58563 7.46005 9.96772L5.31641 34.156C5.31641 36.8172 7.7075 38.9231 10.6534 38.9231H29.4146C32.3606 38.9231 34.7516 36.8172 34.7516 34.2237L32.6003 9.96772C32.563 9.58563 32.2481 9.29321 31.8584 9.29321H27.151V9.12081C27.151 5.19293 23.958 2 20.0302 2ZM14.3935 9.12081C14.3935 6.01023 16.9196 3.48413 20.0302 3.48413C23.1407 3.48413 25.6668 6.01023 25.6668 9.12081V9.29321H14.3935V9.12081ZM31.1764 10.7773L33.26 34.2533C33.2377 36.0149 31.5212 37.439 29.4076 37.439H10.6536C8.53957 37.439 6.82308 36.0149 6.80078 34.2533L8.88437 10.7773H12.9096V14.2103C12.9096 14.6225 13.2394 14.9522 13.6518 14.9522C14.0639 14.9522 14.3937 14.6225 14.3937 14.2103V10.7773H25.6671V14.2103C25.6671 14.6225 25.9969 14.9522 26.4093 14.9522C26.8215 14.9522 27.1512 14.6225 27.1512 14.2103V10.7773H31.1764Z"
                            fill="#000000">
                          </path>
                          <path
                            d="M12.9093 9.29321V9.79321H13.4093V9.29321H12.9093ZM7.46005 9.96772L6.96244 9.91866L6.962 9.92358L7.46005 9.96772ZM5.31641 34.156L4.81836 34.1118L4.81641 34.1339V34.156H5.31641ZM34.7516 34.2237H35.2516V34.2016L35.2496 34.1795L34.7516 34.2237ZM32.6003 9.96772L33.0983 9.92354L33.0979 9.91915L32.6003 9.96772ZM27.151 9.29321H26.651V9.79321H27.151V9.29321ZM25.6668 9.29321V9.79321H26.1668V9.29321H25.6668ZM14.3935 9.29321H13.8935V9.79321H14.3935V9.29321ZM31.1764 10.7773L31.6745 10.7331L31.634 10.2773H31.1764V10.7773ZM33.26 34.2533L33.76 34.2597L33.7603 34.2343L33.7581 34.2091L33.26 34.2533ZM6.80078 34.2533L6.30274 34.2091L6.3005 34.2343L6.30082 34.2597L6.80078 34.2533ZM8.88437 10.7773V10.2773H8.42678L8.38632 10.7331L8.88437 10.7773ZM12.9096 10.7773H13.4096V10.2773H12.9096V10.7773ZM14.3937 10.7773V10.2773H13.8937V10.7773H14.3937ZM25.6671 10.7773H26.1671V10.2773H25.6671V10.7773ZM27.1512 10.7773V10.2773H26.6512V10.7773H27.1512ZM20.0302 1.5C15.8265 1.5 12.4093 4.91677 12.4093 9.12081H13.4093C13.4093 5.46909 16.3788 2.5 20.0302 2.5V1.5ZM12.4093 9.12081V9.29321H13.4093V9.12081H12.4093ZM12.9093 8.79321H8.2023V9.79321H12.9093V8.79321ZM8.2023 8.79321C7.56162 8.79321 7.02525 9.28174 6.96246 9.91866L7.95764 10.0168C7.97018 9.88951 8.07806 9.79321 8.2023 9.79321V8.79321ZM6.962 9.92358L4.81836 34.1118L5.81445 34.2001L7.9581 10.0119L6.962 9.92358ZM4.81641 34.156C4.81641 37.1468 7.48809 39.4231 10.6534 39.4231V38.4231C7.92691 38.4231 5.81641 36.4875 5.81641 34.156H4.81641ZM10.6534 39.4231H29.4146V38.4231H10.6534V39.4231ZM29.4146 39.4231C32.5751 39.4231 35.2516 37.1512 35.2516 34.2237H34.2516C34.2516 36.4832 32.1461 38.4231 29.4146 38.4231V39.4231ZM35.2496 34.1795L33.0983 9.92354L32.1022 10.0119L34.2535 34.2679L35.2496 34.1795ZM33.0979 9.91915C33.036 9.28482 32.5094 8.79321 31.8584 8.79321V9.79321C31.9869 9.79321 32.0899 9.88643 32.1026 10.0163L33.0979 9.91915ZM31.8584 8.79321H27.151V9.79321H31.8584V8.79321ZM27.651 9.29321V9.12081H26.651V9.29321H27.651ZM27.651 9.12081C27.651 4.91679 24.2342 1.5 20.0302 1.5V2.5C23.6819 2.5 26.651 5.46908 26.651 9.12081H27.651ZM14.8935 9.12081C14.8935 6.28638 17.1957 3.98413 20.0302 3.98413V2.98413C16.6434 2.98413 13.8935 5.73409 13.8935 9.12081H14.8935ZM20.0302 3.98413C22.8646 3.98413 25.1668 6.28638 25.1668 9.12081H26.1668C26.1668 5.73409 23.4169 2.98413 20.0302 2.98413V3.98413ZM25.1668 9.12081V9.29321H26.1668V9.12081H25.1668ZM25.6668 8.79321H14.3935V9.79321H25.6668V8.79321ZM14.8935 9.29321V9.12081H13.8935V9.29321H14.8935ZM30.6784 10.8215L32.762 34.2975L33.7581 34.2091L31.6745 10.7331L30.6784 10.8215ZM32.7601 34.247C32.7422 35.6566 31.3332 36.939 29.4076 36.939V37.939C31.7093 37.939 33.7332 36.3732 33.76 34.2597L32.7601 34.247ZM29.4076 36.939H10.6536V37.939H29.4076V36.939ZM10.6536 36.939C8.72757 36.939 7.31858 35.6565 7.30074 34.247L6.30082 34.2597C6.32758 36.3733 8.35157 37.939 10.6536 37.939V36.939ZM7.29882 34.2975L9.38241 10.8215L8.38632 10.7331L6.30274 34.2091L7.29882 34.2975ZM8.88437 11.2773H12.9096V10.2773H8.88437V11.2773ZM12.4096 10.7773V14.2103H13.4096V10.7773H12.4096ZM12.4096 14.2103C12.4096 14.8988 12.9635 15.4522 13.6518 15.4522V14.4522C13.5153 14.4522 13.4096 14.3461 13.4096 14.2103H12.4096ZM13.6518 15.4522C14.34 15.4522 14.8937 14.8987 14.8937 14.2103H13.8937C13.8937 14.3463 13.7878 14.4522 13.6518 14.4522V15.4522ZM14.8937 14.2103V10.7773H13.8937V14.2103H14.8937ZM14.3937 11.2773H25.6671V10.2773H14.3937V11.2773ZM25.1671 10.7773V14.2103H26.1671V10.7773H25.1671ZM25.1671 14.2103C25.1671 14.8988 25.721 15.4522 26.4093 15.4522V14.4522C26.2728 14.4522 26.1671 14.3461 26.1671 14.2103H25.1671ZM26.4093 15.4522C27.0976 15.4522 27.6512 14.8986 27.6512 14.2103H26.6512C26.6512 14.3463 26.5454 14.4522 26.4093 14.4522V15.4522ZM27.6512 14.2103V10.7773H26.6512V14.2103H27.6512ZM27.1512 11.2773H31.1764V10.2773H27.1512V11.2773Z"
                            fill="#000000">
                          </path>
                        </g>
                      </svg>
                      <div class="sc-1acu81b-0 sc-8slcnd-0 sc-1mkv7md-1 bHRpVI prodCount" style="display: none">
                        <p color="#feb913" class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-7 sc-1mkv7md-2 dXVyX countNum">
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
      </div>
      <div>
        <div>
          <style>
            /* Please replace #annoucement-x with another id if you are using more than one annoucement */
            #annoucement-1 .container-background {
              background: #f2f2f2;
            }

            #annoucement-1 .header-color {
              color: #000000;
            }

            #annoucement-1 .sub-color {
              color: #000000;
            }

            #annoucement-1 .border-color {
              border-color: rgba(255, 255, 255, 0.5);
            }
          </style>
          <style>
            .container {
              width: 100%;
            }

            .wrapper {
              max-width: 1200px;
              margin: 0 auto;
              display: flex;
              display: -ms-flexbox;
              flex-direction: column;
            }

            .box {
              flex: 1 0 0%;
              -ms-flex: 1 0 0%;
              text-align: center;
              padding: 20px 0;
              margin: 0 20px;
            }

            .box:not(:last-child) {
              border: 0 solid transparent;
              border-bottom-width: 1px;
            }

            .header {
              font-size: 1rem;
              line-height: 1.2rem;
            }

            .sub {
              font-size: 1rem;
              margin: 0;
            }

            @@media (min-width: 1024px) {
              .wrapper {
                flex-direction: row;
              }

              .box {
                padding: 0 20px;
                margin: 20px 0;
              }

              .box:not(:last-child) {
                border-bottom-width: 0;
                border-right-width: 1px;
              }
            }
          </style>
        </div>
      </div>
      <div id="banner-block">
        <div>
          <div class="cIyDrk">
            <div class="kzmNsw">
              <div class="hvYoAT">
                <div class="lackaX">
                  <div class="cmAKjy"
                    style="background-image: url(./images/banner_2.png); background-size: cover;">
                    <div>
                      <div class="slick-slider slick-initialized" dir="ltr">
                        <div class="slick-list style-dg8PB" id="style-dg8PB">
                          <div class="slick-track style-MHkNE" id="style-MHkNE">
                            <div class="slick-slide style-3Z7SC" id="style-3Z7SC">
                            </div>
                            <div class="slick-slide style-6wSp9" id="style-6wSp9">
                              <div>
                                <div class="kXjEEx style-oSMJc" id="style-oSMJc">
                                  <div class="dBtQHH hDdQwK">
                                    <img
                                      src="https://ucarecdn.com/98e9bb69-283f-4989-a2c3-cfff2bded6d9/-/crop/2189x911/0,288/-/format/auto/-/resize/1024x/"
                                      class="icpKXE">
                                  </div>
                                  <div class="TTLcH">
                                  </div>
                                  <div class="hmFCJm">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="slick-slide style-SLsAJ" id="style-SLsAJ">
                              <div>
                                <div class="kXjEEx style-k1mIZ" id="style-k1mIZ">
                                  <div class="dBtQHH hDdQwK">
                                    <img
                                      src="https://ucarecdn.com/c45da73e-2710-41a0-a2ab-ee723fcac483/-/crop/1200x499/0,0/-/format/auto/-/resize/1024x/"
                                      class="icpKXE">
                                  </div>
                                  <div class="TTLcH">
                                  </div>
                                  <div class="hmFCJm">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="slick-slide style-Zm5Eq" id="style-Zm5Eq">
                            </div>
                            <div class="slick-slide style-olfhC" id="style-olfhC">
                              <div>
                                <div class="kXjEEx style-VLdgT" id="style-VLdgT">
                                  <div class="dBtQHH hDdQwK">
                                    <img
                                      src="https://ucarecdn.com/98e9bb69-283f-4989-a2c3-cfff2bded6d9/-/crop/2189x911/0,288/-/format/auto/-/resize/1024x/"
                                      class="icpKXE">
                                  </div>
                                  <div class="TTLcH">
                                  </div>
                                  <div class="hmFCJm">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="slick-slide style-tUdsS" id="style-tUdsS">
                              <div>
                                <div class="kXjEEx style-rsPvl" id="style-rsPvl">
                                  <div class="dBtQHH hDdQwK">
                                    <img
                                      src="https://ucarecdn.com/c45da73e-2710-41a0-a2ab-ee723fcac483/-/crop/1200x499/0,0/-/format/auto/-/resize/1024x/"
                                      class="icpKXE">
                                  </div>
                                  <div class="TTLcH">
                                  </div>
                                  <div class="hmFCJm">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="slick-slide style-y5Z3J" id="style-y5Z3J">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="epmQVC">
                      <div id="dot_1" width="12" height="12" class="ZyKEf">
                      </div>
                      <div id="dot_2" width="12" height="12" class="ZyKEf dYaccv">
                      </div>
                      <div id="dot_3" width="12" height="12" class="ZyKEf">
                      </div>
                    </div>
                    <div class="kZldTC">
                      <div height="50" width="50" class="eHSsOq">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                          style="color: white; width: 30px; height: 30px;">
                          <path
                            d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
                            fill="white" />
                        </svg>
                      </div>
                    </div>
                    <div class="kZldTC">
                      <div height="30" width="30" class="jygoFr">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                          style="width: 30px; height: 30px;">
                          <path
                            d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160"
                            fill="white" />
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="AIPAp">
          <div class="jxPPfR">
            <div class="dYRGFK">
              <div class="kWGidO">
                <div class="hYNsqZ">
                  <div class="iQQHsq">
    <div class="dSQhVc menu">
    @foreach (var category in @Model.categories)
    {
        <a href="#{@category.name}" class="iRBDMn">
            <div class="dRpNKp">
                <h4 class="jbhhBK">@category.name</h4>
            </div>
        </a>
    }
    </div>
    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="fWkfJo">
            <div class="ekVDFf">
              <div class="kJnYAA">
                <div class="johoPz">
                  <p class="bRyxSM">
                    Kid's Meal
                  </p>
                  <div>
                    <span class="itWDxG">
                      More
                    </span>
                    <svg direction="down" width="12px" height="12px" class="sc-1mf0nfy-0 eXyZFy" viewBox="0 0 13 22"
                      xmlns:xlink="http://www.w3.org/1999/xlink">
                      <title>
                        Arrow down
                      </title>
                      <g>
                        <g>
                          <rect width="22" height="22" rx="2">
                          </rect>
                          <path
                            d="M6.78753043,22 C6.32280464,22 5.85927045,21.8200677 5.50893869,21.4613947 C4.81899963,20.7547732 4.83210728,19.6227488 5.53872881,18.9340014 L13.6249577,11.0408125 L5.63524878,3.05110359 C4.93696848,2.35282329 4.93696848,1.22079892 5.63524878,0.523710223 C6.33352908,-0.174570074 7.46436185,-0.174570074 8.16264215,0.523710223 L17.4321344,9.79201083 C17.7693585,10.1292349 17.957632,10.5880027 17.9552488,11.0670278 C17.951674,11.5448612 17.758634,12.0012458 17.4166435,12.3348951 L8.03633206,21.4911848 C7.68838351,21.8307921 7.23795697,22 6.78753043,22"
                            fill="currentColor">
                          </path>
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="cAaJVs">
              </div>
            </div>
          </div>
          <div class="keRzJT">
            <div class="fItCTU">
              <div class="ipowfn">
                <div class="heWthN">
                  <div class="hnCOlA">
                    <div class="cknMab">
                      <div>
                        <div class="iQhNRj">
                        </div>
                      </div>
    @foreach (var category in @Model.categories)
    {
    <div id="{@category.name}">
         <a class="eLhYcI"> </a>
         <h2 class="kQUVwI">@category.name</h2>
         <div>
            <p class="duIQtj"></p>
         </div>
         <div class="heWthN">
         @foreach (var dish in category.dishList)
         {
            <div class="jdnGDS">
                <a>
                    <div class="jMJquS">
                      <div class="iQQHsq">
                        <div class="djyJZQ">
                          <div class="gUMguG">
                            <img class="iTstRZ prod-img"
                              src="data:image/png;base64,@dish.image" alt="@dish.name" />
                          </div>
                        </div>
                        <div class="kINELj">
                          <div class="prod-name-block">
                            <h3 class="kEZqcy prod-name">
                              @dish.name
                            </h3>
                          </div>
                          <div class="dvTutP buy-prod">
                            <div class="eoTXnm prod-price-block">
                                <div>
                                    <h4 class="hARBZy">
                                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis aspernatur, doloremque debitis modi sunt accusantium laborum! Ipsum, harum vero, distinctio dolorem quasi corporis esse maiores doloribus, voluptate explicabo maxime animi.
                                    </h4>
                                </div>
    
                              <h4 class="fCDzCG prod-price">
                                @dish.price&#8372;
                              </h4>
                               <h4 class="fCDzCG prod-bonuses">
                              @(dish.price * category.bonusCoefficient)
                              </h4>
                            </div>
                            <div class="fKsDUG">
                              <div class="efWQTh">
                                <h4 class="fCDzCG prod-price">
                                    @dish.price&#8372;
                                </h4>
                               <h4 class="fCDzCG prod-bonuses">
                                   @(dish.price * category.bonusCoefficient)
                               </h4>
                              </div>
                            </div>
                            @if (@Model.userId.HasValue)
                            {
                                <button class="ixpzHc clrqHd add-btn" width="auto" type="button">
                                     <h4 class="cPHxZb">До кошика</h4>   
                                </button>
                            }
                            else
                            {
                                <form asp-controller="Authorization" asp-action="Index" method="get">
                                    <button type="submit" class="ixpzHc clrqHd add-btn" width="auto" type="button"> 
                                        <h4 class="cPHxZb">До кошика</h4>
                                    </button>
                                </form>                
                            }
                          </div>
                        </div>
                      </div>
                    </div>
                </a>
            </div>
         }      
         </div>
    </div>
    }
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="#">
        <img src="~/images/donut_brown.png" class="up_btn">
      </a>
    </div>
    <div class="sc-1acu81b-0 ze1cgh-0 dGkFMU" style="display: none">
      <div class="sc-1acu81b-0 sc-8slcnd-0 sc-16vi8eq-0 klyHwk"></div>
      <div tabindex="-1">
        <div class="sc-1acu81b-0 sc-8slcnd-0 vswknc-0 bPdNyo">
          <div class="sc-1acu81b-0 sc-8slcnd-0 sc-1dohxd1-0 grtCDB">
            <div class="sc-1acu81b-0 sc-8slcnd-0 hz6r0v-4 sc-1dohxd1-1 cPmGVS">
              <div class="sc-1acu81b-0 sc-8slcnd-0 kuUGqx">
                <h3 class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-5 kcHiVc">Ваш кошик</h3>
              </div>
              <div data-testid="button.close" class="sc-1acu81b-0 sc-8slcnd-0 hz6r0v-3 fJwGNt"><svg width="18px"
                  height="18px" viewBox="0 0 26 27" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>Close</title>
                  <defs>
                    <rect width="39" height="39" rx="5"></rect>
                  </defs>
                  <g transform="translate(-6 -6)" fill="none" fill-rule="evenodd">
                    <g transform="rotate(135 17.586 18.914)">
                      <rect fill="#0F0F0F" y="15.448" width="34" height="4" rx="2"></rect>
                      <rect fill="#0F0F0F" transform="rotate(90 17 17.448)" y="15.448" width="34" height="4" rx="2">
                      </rect>
                    </g>
                  </g>
                </svg></div>
            </div>
            <div class="sc-1acu81b-0 sc-8slcnd-0 hz6r0v-5 sc-1dohxd1-2 frXFPp">
              <div class="sc-1acu81b-0 sc-1pa0b2f-0 hz6r0v-7 sc-1dohxd1-3 gJqMfQ __card">
                <!--delevery info-->
                <div class="inputsBox">
                                <div class="form-group">
                <label for="delivery-type">Оберіть тип замовлення</label>
                </div>
                                <div class="form-group radio-container" id="delivery-type">
                                    <input type="radio" id="delivery" name="option" value="delivery" class="input-order-type" checked>
                                    <label for="delivery"><span>Доставка</span></label>

                                    <input type="radio" id="takeaway" name="option" value="takeaway" class="input-order-type">
                                    <label for="takeaway"><span>На виніс</span></label>
                                </div>
                    <div class="form-group">
                        <label for="address">Адреса</label>
                        <input class="userInput" type="text" id="address" placeholder="Введіть вашу адресу">
                    </div>
                                <hr class="nyyyo6-0 cnYwPc">

                                <div class="sc-1acu81b-0 gQLULL delivery-price-block">
                                    <div class="sc-1acu81b-0 sc-8slcnd-0 gl7882-1 gcvKCT">
                                        <p class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-7 gl7882-2 bFUzum">Вартісь доставки</p>
                                        <p class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-7 gl7882-2 dQxHYP delivery-price">40.00&#8372;</p>
                                    </div>
                                </div>
                </div>
                <!--delevery info end-->
                <div class="sc-1acu81b-0 ehvuqT basket-text" style="display: none;">
                  <div class="sc-1acu81b-0 sc-8slcnd-0 esrGDY">
                    <h4 class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-6 dqGsnD">Продукти додано</h4><span
                      tabindex="0" class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-9 iFfXkM btn-clear">Очистити корзину</span>
                  </div>
                  <div id="added-products">
                  </div>
                  <hr class="nyyyo6-0 cnYwPc">
                  <div class="sc-1acu81b-0 gQLULL">
                    <div class="sc-1acu81b-0 sc-8slcnd-0 gl7882-1 gcvKCT">
                      <p class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-7 gl7882-2 bFUzum">Сума замовлення</p>
                      <p class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-7 gl7882-2 dQxHYP subtotal">00.00&#8372;</p>
                    </div>
                    <div class="sc-1acu81b-0 sc-8slcnd-0 gl7882-1 gcvKCT">
                      <p class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-7 gl7882-2 kPwmNQ">Бонуси</p>
                                        <p class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-7 gl7882-2 VNKNm gst">0.0&#8372;</p>
                    </div>
                  </div>
                </div>
                <div data-testid="cartDrawer.emptyCart" class="sc-1acu81b-0 sc-8slcnd-0 dOgGvv"><svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130 130" width="130px" height="130px">
                    <title>Empty Basket</title>
                    <defs>
                      <rect id="path-1" width="130" height="130"></rect>
                    </defs>
                    <g fill="none" fill-rule="evenodd">
                      <path
                        d="M64.8196702,7 C52.0552936,7 41.6770436,17.377032 41.6770436,30.1426266 L41.6770436,30.7029218 L26.3791584,30.7029218 C25.1361558,30.7029218 24.0892564,31.653292 23.9668441,32.8950766 L17,111.506925 C17,120.155873 24.7710504,127 34.3450941,127 L95.319216,127 C104.893564,127 112.66431,120.155873 112.66431,111.727084 L105.672496,32.8950766 C105.551302,31.653292 104.528154,30.7029218 103.2614,30.7029218 L87.9622968,30.7029218 L87.9622968,30.1426266 C87.9622968,17.377032 77.5852648,7 64.8196702,7 Z M46.5004542,30.1426266 C46.5004542,20.0332574 54.710301,11.8234106 64.8196702,11.8234106 C74.9290394,11.8234106 83.1388862,20.0332574 83.1388862,30.1426266 L83.1388862,30.7029218 L46.5004542,30.7029218 L46.5004542,30.1426266 Z M101.044275,35.5263324 L107.81593,111.823309 C107.743457,117.548369 102.164866,122.176589 95.2954643,122.176589 L34.3450941,122.176589 C27.4744746,122.176589 21.8958836,117.548369 21.8234106,111.823309 L28.5950649,35.5263324 L41.6770436,35.5263324 L41.6770436,46.6835144 C41.6770436,48.0230462 42.7489127,49.0946107 44.0893579,49.0946107 C45.4285852,49.0946107 46.5004542,48.0230462 46.5004542,46.6835144 L46.5004542,35.5263324 L83.1388862,35.5263324 L83.1388862,46.6835144 C83.1388862,48.0230462 84.2107552,49.0946107 85.5512005,49.0946107 C86.8907323,49.0946107 87.9622968,48.0230462 87.9622968,46.6835144 L87.9622968,35.5263324 L101.044275,35.5263324 Z"
                        stroke="#FFF" fill="#BBB"></path>
                      <g fill="#BBB">
                        <g transform="rotate(45 -31.634 105.734)">
                          <rect y="16.5" width="36.667" height="3.667" rx="1.833"></rect>
                          <rect transform="rotate(90 18.333 18.333)" y="16.5" width="36.667" height="3.667" rx="1.833">
                          </rect>
                        </g>
                      </g>
                    </g>
                  </svg>
                  <h3 class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-5 iSpYTe">Ваш кошик порожній</h3>
                  <p class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-7 cRHBsA">Здається, ви ще не обрали жодного товару
                  </p>
                </div>
              </div>
            </div>
            <div class="sc-1acu81b-0 sc-8slcnd-0 hz6r0v-6 sc-1dohxd1-4 hBdgEC">
              <div width="100%" class="sc-1acu81b-0 sc-8slcnd-0 igCQuD">
                <div width="100%" class="sc-1acu81b-0 sc-8slcnd-0 cnzPRb total-text" style="visibility: hidden;">
                  <h4 class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-6 dqGsnD">До сплати</h4>
                  <h4 data-testid="cartDrawer.totalAmount"
                    class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-6 dqGsnD total-price">00.00&#8372;</h4>
                </div><button id="slideButton" width="100%" class="sc-1ljqqky-0 lfiEcL qwkwaf-4 dNBZov" style="background-color: lightgray" type="button" disabled>
                  <h4 id="selectBtnText">Оформити замовлення</h4>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <img src="~/images/logo.png">
      <p>© 2023 ™ DailyFood. Всі права захищені.</p>
    </footer>
  </div>
